# ========= Frontend (Next.js) =========
**/node_modules/
.next/
out/
dist/

# ========= Backend (Python/Django) =========
**/venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# ========= Environment / Secrets =========
.env
*.env
env.local
.env.*.local

# ========= Logs & System Files =========
*.log
.vscode/
.DS_Store
Thumbs.db

# ========= Misc =========
*.sqlite3
